.banner-section {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  padding: 0;
}

.banner-section .banner-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.banner-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-section .banner-container .banner-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.banner-section .banner-container .banner-content h1 {
  color: white;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

.banner-section .banner-container .banner-content span {
  font-size: 35px;
  font-weight: 700;
}

.banner-section .banner-container .banner-content a {
  background: linear-gradient(to right, white 50%, var(--red) 50%);
  width: fit-content;
  padding: 2% 10%;
  font-weight: 700;
  background-size: 200%;
  background-position: 100%;
  transform: skewX(-15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner-section .banner-container .banner-content a:hover {
  color: var(--red);
  background-position: 0%;
}

@media (max-width: 996px) {
  .banner-section {
    height: 50vh;
    min-height: 50vh;
    background-size: cover;
  }

  .banner-section .banner-container {
    height: 50vh;
    min-height: 50vh;
  }
}

.services-section {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../media/webp/jpg/fondo-inv.webp");
  background-size: cover;
}

.services_section {
  display: flex;
  transform: translateY(-10%);
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
}

.services_section .services_box {
  width: 90%;
  display: grid;
  position: relative;
  grid-template-columns: 15% 95%;
  padding: 5% 7% 5% 5%;
  border-radius: 999px 0 0 999px;
  background: var(--red);
}

.services_section .title_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.services_section .title_box .services-desktop {
  color: white;
  font-size: 65px;
  font-weight: bold;
}

.services_section .title_box .services-mobile {
  display: none;
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.services_section .carousel_box {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 40px 20px;
}

.services_section .carousel_box .arrows button:hover {
  transform: scale(1.3);
}

.services_section .carousel_box .arrows .btn-scroll-left {
  position: absolute;
  left: 20%;
  top: 5%;
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  z-index: 1;
}

.services_section .carousel_box .arrows .btn-scroll-right {
  position: absolute;
  right: 5%;
  top: 5%;
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  z-index: 1;
}

.services_section .carousel_box::-webkit-scrollbar {
  width: 5px;
  display: none;
  height: 10px;
  overflow: auto;
}

.services_section .card_box {
  position: relative;
  padding: 30px;
  scroll-snap-type: x mandatory;
  transition: 0.25s;
}

.services_section .card_box:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  transform-origin: center;
  width: 100%;
  height: 50%;
  border-left: 5px solid white;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.services_section .card_box:nth-child(even):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  width: 100%;
  height: 50%;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.services_section .info_box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/kitchen-slide.webp");
  background-position: center;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

.services_section .info_box::after {
  content: "";
  width: 100%;
  left: 0;
  opacity: 0.3;
  height: 100%;
  position: absolute;
  background: black;
  z-index: 1;
}

.services_section .decks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/deck-slide.webp");
  background-position: center;
  background-size: cover;
}

.services_section .moldings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/moldings-slide.webp");
  background-position: center;
  background-size: cover;
}

.services_section .portico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/portico-slide.webp");
  background-position: center;
  background-size: cover;
}

.services_section .tiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/tiles-slide.webp");
  background-position: center;
  background-size: cover;
}

.services_section .siding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/siding-slide.webp");
  background-position: center;
  background-size: cover;
}

.services_section .bathroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/bathroom.webp");
  background-position: center;
  background-size: cover;
}

.services_section .mansory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/masonry.webp");
  background-position: center;
  background-size: cover;
}

.services_section .trim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/trim.webp");
  background-position: center;
  background-size: cover;
}

.services_section .windows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/windows.webp");
  background-position: center;
  background-size: cover;
}

.services_section .doors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/doors.webp");
  background-position: center;
  background-size: cover;
}

.services_section .painting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/painting.webp");
  background-position: center;
  background-size: cover;
}

.services_section .power {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/power-wash.webp");
  background-position: center;
  background-size: cover;
}

.services_section .patio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 30px;
  border-radius: 350px;
  background-image: url("../media/webp/mobile/banner-patio-contractor.jpg");
  background-position: center;
  background-size: cover;
}

.services_section .card_box:hover:nth-child(odd) .info_box {
  background: white;
}

.services_section .card_box:hover:nth-child(odd) .info_box::after {
  display: none;
}

.services_section .card_box:hover:nth-child(even) .info_box {
  background: black;
}

.services_section .card_box h2 {
  font-size: 30px;
}

.services_section .card_box:nth-child(odd) h2 {
  color: red;
  z-index: 2;
}

.services_section .card_box:nth-child(even) h2 {
  color: white;
  z-index: 2;
}

.services_section .hover_info {
  display: flex;
  z-index: 2;
  flex-direction: column;
  gap: 10px;
  max-height: 0;
  opacity: 0;
  transition: 0.8s;
}

.services_section .card_box:hover .hover_info {
  max-height: 300px;
  opacity: 1;
}

.services_section .info_box p {
  font-size: 14px;
}

.services_section .card_box:nth-child(odd) p {
  color: black;
}

.services_section .card_box:nth-child(even) p {
  color: white;
}

.services_section .card_box a {
  width: fit-content;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 20px;
}

.services_section .card_box:nth-child(odd) a {
  background: black;
}

.services_section .card_box:nth-child(even) a {
  background: red;
}

@media (max-width: 996px) {
  .services_section {
    padding: 0;
    transform: translateY(0);
  }

  .services_section .services_box {
    width: 100%;
    grid-template-columns: 100%;
    padding: 20% 0;
    border-radius: 0;
    background: var(--red);
  }

  .services_section .title_box {
    justify-content: center;
    padding-bottom: 10%;
  }

  .services_section .carousel_box .arrows {
    display: none;
  }

  .services_section .title_box .services-mobile {
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .services_section .title_box .services-desktop {
    display: none;
  }

  .services_section .card_box {
    flex: 0 0 85%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
  }

  .services_section .info_box,
  .services_section .decks,
  .services_section .moldings,
  .services_section .portico,
  .services_section .tiles,
  .services_section .siding,
  .services_section .bathroom,
  .services_section .mansory,
  .services_section .trim,
  .services_section .windows,
  .services_section .doors,
  .services_section .painting,
  .services_section .power {
    width: 280px;
    margin: 0 auto;
  }
}

.services-section .about-us-ctn {
  display: grid;
  padding: 0 10%;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.services-section .about-us-ctn .title {
  text-align: center;
  border-right: 3px solid black;
}

.services-section .about-us-ctn .title h2 {
  line-height: 130px;
  font-weight: 700;
  font-size: 90px;
}

.services-section .about-us-ctn .title span {
  width: 100%;
  letter-spacing: 15px;
  color: var(--red);
  font-size: 225px;
  height: 100%;
}

.services-section .about-us-ctn .text {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.services-section .about-us-ctn .text p {
  text-align: justify;
}

.services-section .about-us-ctn .text a {
  background: linear-gradient(to right, white 50%, var(--red) 50%);
  width: fit-content;
  padding: 2% 10%;
  border: 2px solid transparent;
  font-weight: 700;
  background-size: 200%;
  background-position: 100%;
  transform: skewX(-15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.services-section .about-us-ctn .text a:hover {
  color: var(--red);
  border: 2px solid var(--red);
  background-position: 0%;
}

.services-section .box-services {
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(2, 1fr);
}

.services-section .box-services .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: #e62a33;
  mix-blend-mode: multiply;
  border-radius: 50%;
  cursor: none;
  z-index: 1;
}

.services-section .box-services .box-text {
  background: black;
  position: relative;
  cursor: none;
  padding: 10%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
  background-image: url("../media/png/fondo-section.png");
}

.services-section .box-services .box-text h2 {
  color: white;
  font-size: 50px;
}

.services-section .box-services .box-text span {
  color: var(--red);
}

.services-section .box-services .box-text p {
  font-size: 18px;
  color: white;
}

.services-section .box-services .box-media {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.services-section .box-services .box-media .first-row {
  position: relative;
  z-index: 1;
  width: 100%;
}

.services-section .box-services .box-media .first-row img {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  display: flex;
  object-fit: cover;
}

.services-section .box-services .box-media .second-row {
  display: grid;
  height: 100%;
  z-index: 1;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.services-section .box-services .box-media .second-row-img {
  position: relative;
  object-fit: cover;
}

.services-section .box-services .box-media .second-row-img img {
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  left: 0;
}

@media (max-width: 996px) {
  .services-section {
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .services-section .services-container {
    padding: 0;
  }

  .services-section .box-services .circle {
    display: none;
  }

  .services-section .services-container .services {
    grid-template-columns: 40% 60%;
  }

  .services-section .services-container .services .title h2 {
    font-size: 40px;
  }

  .services-section .services-container .services .service-items .services-item {
    width: 80%;
  }

  .services-section .about-us-ctn {
    grid-template-columns: 100%;
    padding: 0 10% 0 10%;
  }

  .services-section .about-us-ctn .title {
    border: none;
  }

  .services-section .about-us-ctn .title h2 {
    font-size: 80px;
  }

  .services-section .about-us-ctn .title span {
    letter-spacing: normal;
    font-size: 200px;
  }

  .services-section .about-us-ctn .text {
    align-items: center;
    gap: 20px;
  }

  .services-section .box-services {
    grid-template-columns: 100%;
    padding: 15% 0 0 0;
    height: 100%;
  }

  .services-section .box-services .box-media .first-row img {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    display: flex;
    object-fit: cover;
  }
}

.experience-section {
  padding: 20% 10% 10% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../media/jpg/fondo.jpg");
}

.experience-section .experience-container {
  display: grid;
  gap: 40px;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.experience-section .experience-container .experience-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-section .experience-container .experience-media .circle-media {
  width: 250px;
  top: -30%;
  left: calc(50% - 150px);
  z-index: 1;
  mix-blend-mode: multiply;
  position: absolute;
  display: flex;
  padding-left: 2%;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  border-radius: 50%;
  background: var(--red);
}

.experience-section .experience-container .experience-media .circle-media h2 {
  color: white;
  font-size: 50px;
  text-align: start;
}

.experience-section .experience-container .experience-media .circle-media .center {
  font-size: 25px;
  margin-left: 15%;
}

.experience-section .experience-container .experience-media img {
  transform: scale(1.1);
  z-index: 0;
}

.experience-section .experience-container .experience-content {
  display: flex;
  border-left: 2px var(--red) solid;
  flex-direction: column;
  padding-left: 5%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.experience-section .experience-container .experience-content .content-text {
  position: relative;
}

.experience-section .experience-container .experience-content .content-text::before {
  position: absolute;
  width: 15px;
  border-radius: 50%;
  content: "";
  left: -35px;
  top: 10%;
  height: 15px;
  background: var(--red);
}

.experience-section .experience-container .experience-content .content-text h2 {
  color: var(--red);
  font-weight: 600;
}

@media (max-width: 996px) {
  .services-section .box-services .box-text::before {
    display: none;
  }
}

@media (max-width: 996px) {
  .experience-section {
    padding: 40% 10% 10% 10%;
    background-size: cover;
    background-position: center;
  }

  .experience-section .experience-container {
    grid-template-columns: 100%;
  }

  .experience-section .experience-container .experience-media .circle-media {
    width: 165px;
    top: -100%;
    left: 10%;
    padding-left: 5px;
    height: 165px;
  }

  .experience-section .experience-container .experience-media .circle-media .center {
    font-size: 16px;
  }

  .experience-section .experience-container .experience-media .circle-media h2 {
    font-size: 25px;
  }

  .experience-section .experience-container .experience-content .content-text::before {
    left: -25px;
  }
}

.years-experience-section {
  padding: 0 10% 10% 0;
  grid-template-columns: repeat(2, 1fr);
}

.years-experience-section .years-experience-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}

.years-experience-section .years-experience-mobile {
  display: none;
}

.years-experience-section .years-experience-container .first-box {
  position: relative;
  background-image: url("../media/jpg/house-front-years.jpg");
  background-position: center;
  background-size: cover;
}

.years-experience-section .years-experience-container .first-box h2 {
  position: absolute;
  bottom: 8%;
  color: white;
  font-weight: 400;
  font-size: 60px;
  right: 20%;
}

.years-experience-section .years-experience-container .first-box img {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
}

.years-experience-section .years-experience-container .second-box {
  background: var(--red);
  z-index: 1;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 200px 200px 0;
  padding: 18% 10%;
}

.years-experience-section .years-experience-container .second-box p {
  color: white;
}

.years-experience-section .years-experience-container .second-box h2 {
  font-weight: 400;
  font-size: 60px;
  transform: translateX(-35%);
  color: white;
}

@media (max-width: 996px) {
  .years-experience-section {
    padding: 0% 5% 5% 5%;
  }

  .years-experience-section .years-experience-container {
    display: none;
  }

  .years-experience-section .years-experience-mobile {
    display: block;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #00000030;
  }

  .years-experience-section .years-experience-mobile .first-box {
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url("../media/jpg/house-front-years.jpg");
    background-position: center;
    background-size: cover;
  }

  .years-experience-section .years-experience-mobile .first-box::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: black;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .years-experience-section .years-experience-mobile .first-box img {
    color: var(--red);
    font-weight: 800;
    font-size: 150px;
    z-index: 1;
    position: relative;
  }

  .years-experience-section .years-experience-mobile .first-box p {
    font-weight: 600;
    margin-top: -6%;
    z-index: 1;
    color: white;
    font-size: 20px;
  }

  .years-experience-section .years-experience-mobile .second-box {
    padding: 10%;
    background: var(--red);
  }

  .years-experience-section .years-experience-mobile .second-box p {
    color: white;
  }
}

.satisfaction-section {
  display: none;
  background: black;
  height: 80vh;
  padding: 8%;
  background-image: url("../media/png/logo-fondo.png");
  background-size: cover;
}

.satisfaction-section .satisfaction-container {
  display: grid;
  height: 100%;
  gap: 40px;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.satisfaction-section .satisfaction-container .satisfaction-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.satisfaction-section .satisfaction-container .satisfaction-text h2 {
  color: white;
  font-size: 60px;
}

.satisfaction-section .satisfaction-container .satisfaction-text .your {
  color: white;
  font-size: 75px;
  margin-left: 30px;
}

.satisfaction-section .satisfaction-container .satisfaction-text .satisfaction {
  color: var(--red);
  font-size: 75px;
}

.satisfaction-section .satisfaction-container .satisfaction-text .goal {
  margin-left: 70px;
}

.satisfaction-section .satisfaction-container .slide-container .slide-item {
  background: white;
  padding: 10%;
  border-radius: 90px 0 90px 0;
}

.satisfaction-section .satisfaction-container .slide-container .slide-item .title-ctn {
  display: flex;
  gap: 30px;
  align-items: center;
}

.satisfaction-section .satisfaction-container .slide-container .slide-item .title-ctn .img-ctn {
  height: 50px;
  width: 50px;
  background: var(--red);
  border-radius: 50%;
}

@media (max-width: 996px) {
  .satisfaction-section {
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }

  .satisfaction-section .satisfaction-container {
    grid-template-columns: 100%;
  }

  .satisfaction-section .satisfaction-container .satisfaction-text h2 {
    font-size: 40px;
  }

  .satisfaction-section .satisfaction-container .satisfaction-text .your {
    font-size: 45px;
  }

  .satisfaction-section .satisfaction-container .satisfaction-text .satisfaction {
    font-size: 40px;
  }

  .satisfaction-section .satisfaction-container .slide-container .slide-item {
    padding: 8%;
  }
}