---
import BaseLayout from '@layouts/BaseLayout.astro';
import '../styles/terms.css';

const metaTitle = "Terms and Conditions | F3 Construction Corp New York";
const metaDescription = "F3 Construction Corp is a fully licensed and insured company in New York, you can completely trust in this great organization.";
const canonical = "https://f3constructionny.com/terms";
---
<BaseLayout title={metaTitle} description={metaDescription} canonical={canonical}>
  <Fragment slot="head">
    <meta name="robots" content="noindex, nofollow" />
  </Fragment>

  <main>
    <section class="text-section">
      <div class="text-container">
        <h1>Terms and Conditions</h1>
        <p>
          Welcome to F3 Construction Corp Website. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy governs F3 Construction Corp relationship with you in relation to this website.
          The term F3 Construction Corp refers to the owner of the website.
          <br /><br />
          The term ‘you’ refers to the user or viewer; of our website. The use of this website is subject to the following terms of use: The content of the pages of this website is for your general information and use only. It is subject to change without notice.
          <br /><br />
          Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors, and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
          <br /><br />
          Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any service or information available through this website meet your specific requirements. This website contains material which is owned by or licensed to us.
          <br /><br />
          This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions. All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website. Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.
          <br /><br />
          From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s). You may not create a link to this website from another website or document without F3 Construction Corp prior written consent.
          <br /><br />
          We hope to meet your expectations and to address any concerns as soon as possible.
          F3 Construction Corp is committed to treat your personal data as absolutely confidential and exclusively for business purposes, and to provide good service.
        </p>
      </div>
    </section>
  </main>
</BaseLayout>
