---
// src/components/Footer.astro
---
<footer>
  <div class="footer-container">
    <div class="contact-ctn">
      <h3>CONTACT</h3>
      <ul>
        <li><a href="tel:+16312788693">631-278-8693</a></li>
        <li>
          <a href="https://goo.gl/maps/2JWRRVgKfv4YvGaCA" target="_blank">290 Earle St. Central Islip, NY 11722</a>
        </li>
        <li><a href="mailto:f3ccorp@gmail.com">f3ccorp@gmail.com</a></li>
      </ul>

      <div class="social-icon">
        <a class="btn_social" href="https://www.facebook.com/f3construction/" target="_blank" aria-label="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a class="btn_social" href="https://www.tiktok.com/@f3construction_ny" target="_blank" aria-label="tiktok">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a class="btn_social" href="https://www.instagram.com/f3constructionny?igsh=dTZ2cTZ4NXp2aHRt" target="_blank" aria-label="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a class="btn_social" href="https://www.google.com/search?hl=en&authuser=0&gl=co&output=search&q=F3+Construction+Corp&ludocid=4353299437963021024&gsas=1&lsig=AB86z5Uhqch1JIsGnD4QLuWF2d_2&ved=1i%3A2%2Ct%3A109124%2Ce%3A1%2Cp%3AZmLZY8WEOZ6BkvQPiICT8Ac%3A1" target="_blank" aria-label="gmb">
          <i class="fa-solid fa-store"></i>
        </a>
        <a class="btn_social" href="https://yelp.com/biz/f3-construction-central-islip" target="_blank" aria-label="yelp">
          <i class="fa-brands fa-yelp"></i>
        </a>
      </div>
    </div>

    <div class="opening-hours">
      <h3>Opening Hours</h3>
      <ul>
        <li><p>Monday to Friday: 9:00 am - 6:00 pm</p></li>
        <li><p>Saturday: 9:00 am - 2:00 pm</p></li>
      </ul>
    </div>

    <div class="footer-menu">
      <h3><a href="/">Home</a></h3>
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/locations/290-earle-st-central.islip-ny-11722">Location</a></li>
      </ul>
    </div>

    <div class="footer-menu">
      <h3><a href="/services">Services</a></h3>
      <div class="separador-servicios">
        <div class="footer-menu">
          <ul>
            <li><a href="/services/masonry-contractors-long-island-ny">Masonry</a></li>
            <li><a href="/services/trim-carpentry-services-long-island-ny">Trim Carpentry</a></li>
            <li><a href="/services/replacement-windows-long-island-ny">Window Replacement</a></li>
            <li><a href="/services/door-installation-long-island-ny">Door Installation</a></li>
            <li><a href="/services/house-painting-long-island-ny">House painting</a></li>
            <li><a href="/services/power-washing-long-island-ny">Power Washing</a></li>
            <li><a href="/services/basement-solutions-long-island-ny">Basement Solutions</a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <ul>
            <li><a href="/services/kitchen-remodeling-long-island-ny">Kitchen Remodeling</a></li>
            <li><a href="/services/deck-builders-long-island-ny">Deck Building</a></li>
            <li><a href="/services/crown-molding-long-island-ny">Crown Molding</a></li>
            <li><a href="/services/portico-contractor-long-island-ny">Portico Construction</a></li>
            <li><a href="/services/tile-installation-service-long-island-ny">Tile Installation</a></li>
            <li><a href="/services/bathroom-renovation-long-island-ny">Bathroom Remodeling</a></li>
            <li><a href="/services/patio-contractor-long-island-ny">Patio Contractor</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="privacy-ctn">
    <div class="privacy-logos">
      <div class="logos-row">
        <img class="logo-1" src="/media/png/certified%20wolf%20pro_f3%20construction.png" alt="Certification 1" loading="lazy" width="387" height="388" />
        <a href="https://trexrainescape.com/installers/olman-flores/" target="_blank">
          <img class="logo-2" src="/media/png/trex_rain_escape_certified_olman_flores_f3-.png" alt="Certification 2" loading="lazy" width="580" height="430" />
        </a>
        <a href="/media/pdf/certrebel-olman_flores-f3.pdf" target="_blank" download>
          <img class="logo-3" src="/media/png/certrebel-logo3.png" alt="Certification 3" loading="lazy" width="350" height="103" />
        </a>
      </div>
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms and Conditions</a>
      <a href="/sitemap.xml">Sitemap</a>
    </div>
  </div>

  <div class="created-box">
    <p>
      <a href="/">© 2026 F3 Construction Corp</a> <span>|</span>
      <a href="https://ajcreativestudios.com/" target="_blank">Created by AJ Creative Studios</a>
    </p>
  </div>

  <a href="tel:+16312788693" id="call-Button" aria-label="Call F3 Construction Corp Now">
    <i class="fa-solid fa-phone"></i>
  </a>
  
  <button id="backToTop" aria-label="Back to top"><i class="fa-solid fa-arrow-up"></i></button>
</footer>

<script>
  const backToTop = document.getElementById("backToTop");
  if (backToTop) {
    window.addEventListener("scroll", () => {
      if (window.scrollY > 200) {
        backToTop.style.display = "flex";
      } else {
        backToTop.style.display = "none";
      }
    });

    backToTop.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    });
  }
</script>
